:host ::ng-deep .multiselect-dropdown .dropdown-btn {
	display: none;
	border: 1px solid #adadad;
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.1;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border-radius: 4px;
}

.ng-select.custom ::ng-deep .ng-select-container  {            
    font-weight: bolder;
}

.ng-select.custom ::ng-deep .ng-option-marked {
    background-color: #007eff;
    color:rgb(255, 255, 255);
    font-weight: bolder;
}

:host ::ng-deep .ng-select .ng-select-container {
	position: absolute;
	width: 100%;
	margin-top: -7px;
	margin-left: -12px;
	height: 38px;
    border: 1px solid #2f76e4;
}