<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <!-- Labor Category Form Starts -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1>Labor Category</h1> -->
                    </div>
                    <div class="col-sm-6">
                        <!-- <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Labor Category</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol> -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                    <div class="col-sm-12 ">
                        <div class="card">
                            <!-- <div class="card-header">
                                <h3 class="card-title">Add New Labor Category</h3>                                
                            </div> -->
                            <div class="card-body">
                                <p class="h4 mb-4" align="center">MLO DISCHARGE SUMMARY LIST</p>
                                <form class="form-horizontal form-bordered" [formGroup]="mloDischargeSummaryListForm"
                                    (ngSubmit)="onSubmit($any($event.target))">
                                    <div class="row">
                                        <div class="col-sm-11  offset-md-1">
                                            <div class="input-group mb-md col-lg-11 mt-1">
                                                <div class="input-group-prepend">
                                                    <!-- <span class="input-group-text">Labor Category</span> -->
                                                    <button type="button" class="btn btn-primary"> Rotation No</button>
                                                </div>
                                                <!--input   type="text" name="rotation" placeholder="Rotation"  id="rotation" formControlName="rotation"
                                                class="form-control" #rotation-->
                                                <input type="text" name="rotation" placeholder="Rotation" id="rotation"
                                                    (blur)="getOrg($event.target)" class="form-control">


                                            </div>
                                            <div class="input-group mb-md col-lg-11 mt-3">
                                                <div class="input-group-prepend">
                                                    <!-- <span class="input-group-text">Labor Category</span> -->
                                                    <button type="button" class="btn btn-primary">Organization
                                                        Name</button>
                                                </div>

                                                <select *ngIf="showOrgName" name="orgName" class="form-control"
                                                    (change)="orgNameChange($any($event.target).value)"
                                                    (blur)="showMloList($event.target)">
                                                    <!--option disabled selected value=0>Select</option-->
                                                    <option value="">Select</option>
                                                    <option value="all">All</option>
                                                    <option *ngFor="let val of orgList" ng-model="myVar"
                                                        value={{val.orgId}}>
                                                        {{val.organization_Name}}
                                                    </option>

                                                </select>

                                            </div>
                                            <div class="input-group mb-md col-lg-11 mt-3">
                                                <div class="input-group-prepend">
                                                    <!-- <span class="input-group-text">Labor Category</span> -->
                                                    <button type="button" class="btn btn-primary">Search Yard</button>
                                                </div>

                                                <select *ngIf="showMlo" name="mloName" class="form-control"
                                                    (change)="mloNameChange($any($event.target).value)">
                                                    <option value="">Select</option>
                                                    <option *ngFor="let val of mloList" ng-model="myVar"
                                                        value={{val.mlocode}}>
                                                        {{val.mlocode}}
                                                    </option>
                                                </select>

                                            </div>


                                            <!-- <div class="col-md-8 col-md-offset-3  text-center mt-3">
                                                <label class="col-4 radio-inline">
                                                     <input type="radio" name="fileType" value="xl"/> Excel 
                                                </label>
                    
                                                <label class="col-4 radio-inline">
                                                  <input type="radio" name="fileType" value="html" checked /> Html
                                                </label>
                                            </div> -->



                                        </div>
                                    </div>
                                    <div class="container mt-3">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="xl" /> Excel
                                                </label>
                                            </div>
                                            <div class="col-4 text-center">
                                                <!-- <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> PDF
                                                </label> -->
                                            </div>
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> Html
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 offset-md-2 text-center">
                                            <button [disabled]="this.mloDischargeSummaryListForm.invalid"
                                                class="btn btn-primary">Show</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>

    </div>






    <app-footer></app-footer>
</div>
<!-- ./wrapper -->