<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
   
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                       
                    </div>
                    <div class="col-sm-6">
                       
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                   
                    <div class="col-sm-12 ">
                        <div class="card">
                           
                            <div class="card-body">
                                <p class="h4 mb-4" align="center">IMPORT CONTAINER DISCHARGE REPORT</p>                     
                                <form class="form-horizontal form-bordered" [formGroup]="importContainerDischargeSummaryLast24HourForm" (ngSubmit)="onSubmit($any($event.target))">     
                                    <div class="row">
                                        <div class="col-sm-11  offset-md-1">
                                            <div class="input-group mb-md col-lg-11 mt-1">
                                                <div class="input-group-prepend">
                                                    
                                                    <button type="button" class="btn btn-primary"> Rotation No</button>
                                                </div>
                                              
                                                <input type="text"  name="rotation"  placeholder="Rotation"  id="rotation" 
                                                  class="form-control">
                                                  
                                                
                                            </div> 
                                            <div class="input-group mb-md col-lg-11  mt-3">
                                                <div class="input-group-prepend">
                                                    
                                                    <button type="button" class="btn btn-primary">Date</button>
                                                </div>
                                                <input type="date"  name="assignDate"  placeholder=""  id="assignDate" 
                                                  class="form-control">
                                                   
                                                
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="container mt-3">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="xl"/> Excel 
                                               </label>
                                            </div>
                                            <div class="col-4 text-center">
                                                <!-- <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> PDF
                                                </label> -->
                                            </div>
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> Html
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2 text-center">
                                            <button  [disabled]="this.importContainerDischargeSummaryLast24HourForm.invalid"  class="btn btn-primary">Show</button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                
                </div>
              

             </div>
        </section>
        
    </div>

  
   



    <app-footer></app-footer>
</div>
<!-- ./wrapper -->


