<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <!-- Labor Category Form Starts -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1>Labor Category</h1> -->
                    </div>
                    <div class="col-sm-6">
                        <!-- <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Labor Category</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol> -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                    <div class="col-md-9 offset-md-1">
                        <div class="card">
                            <!-- <div class="card-header">
                                <h3 class="card-title">Add New Labor Category</h3>                                
                            </div> -->
                            <div class="card-body">
                                <p class="h4 mb-4" align="center">{{header}}</p>                     
                                <form [formGroup]="RemovalListOfOverFlowFormLcl" (ngSubmit)="onSubmit($any($event.target))">
                                    <!-- <div class="row">
                                        <div class="col-md-6 offset-md-2">
                                            <h4 align="center"><b>Add New Labor Category</b></h4>
                                        </div>                                        
                                    </div>   -->
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <!-- <span class="input-group-text">Labor Category</span> -->
                                                    <button type="button" class="btn btn-primary">Assignment Date </button>
                                                </div>
                                                <input type="date" name="assignDate" placeholder="" class="form-control" autocomplete="off" required >
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="container mt-3">
                                        <div class="row">
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="xl"/> Excel 
                                               </label>
                                            </div>
                                            <div class="col-4 text-center">
                                                 <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="pdf" checked /> PDF
                                                </label>
                                            </div>
                                            <div class="col-4 text-center">
                                                <label class="radio-inline">
                                                    <input type="radio" name="fileType" value="html" checked /> Html
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2 text-center">
                                            <button [disabled]="this.RemovalListOfOverFlowFormLcl.invalid"  class="btn btn-primary">Show</button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>  
             </div>
        </section>
        
    </div>

  
   



    <app-footer></app-footer>
</div>

