
<html>
    <title>MLO WISE LOADED CONTAINER SUMMERY LIST</title>
<body>
<br/>

<table border="0" width="100%">
	<tr>
		<td colspan="2" align="right"><b>MLO</b></td>
		<td colspan="2" align="right"><b></b></td>
		<td><b>{{MLO}}</b></td>
		<td colspan="3" align="right"><b>CPA:-C2D7</b></td>
		<td><b></b></td>
	</tr>
</table>




<table width="100%" border ='1' cellpadding='0' cellspacing='0' style="margin-left: 5px;">
	<tr height="70px">
		<td colspan="2"><b>PROJECTED <br /> FINAL</b></td>
		<td colspan="3" align="center"><b>CONTAINER LOADING</b></td>
		<td colspan="5" align="center"><b>SUMMARY<br/> DATE:- {{last_update}}</b></td>
	</tr>
	<tr>
		<td><b>VESSEL</b></td>
		<td colspan="9" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{vsl_name}}</b></td>
		
	</tr>
	<tr>
		<td><b>VOY.NO</b></td>
		<td colspan="9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{voys_no}}</b></td>
	</tr>
	<tr height="25px">
		<td colspan="10" align="center"><b> EXPORT</b></td>
	</tr>
	<tr align="center">
		<td colspan="2"><b>CONTAINER</b></td>
		<td><b></b></td>
		<td colspan="4"><b>NOS. OF CONT. WEIGHT</b></td>
		<td colspan="3"><b>GROSS WEIGHT</b></td>
	</tr>
	<tr align="center">
		<td><b>TYPE</b></td>
		<td><b>SIZE</b></td>
		<td><b>CL</b></td>
		<td><b>FULL</b></td>
		<td><b>MT</b></td>
		<td><b>TOTAL</b></td>
		<td><b>NET</b></td>
		<td><b>FULL</b></td>
		<td><b>MT</b></td>
		<td><b>TOTAL</b></td>
	</tr>
	<tr align="center">
		<td><b>20'</b></td>
		<td><b>NORMAL</b></td>
		<td><b>FCL</b></td>
		<td>{{f_20}}</td>
		<td></td>
		<td>{{f_20}}</td>
		<td></td>
		<td>{{fw_20}}</td>
		<td></td>
		<td>{{fw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>LCL</b></td>
		<td>{{l_20}}</td>
		<td></td>
		<td>{{l_20}}</td>
		<td></td>
		<td>{{lw_20}}</td>
		<td></td>
		<td>{{lw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>EMPTY</b></td>
		<td></td>
		<td>{{m_20}}</td>
		<td>{{m_20}}</td>
		<td></td>
		<td></td>
		<td>{{mw_20}}</td>
		<td>{{mw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>ICD</b></td>
		<td>{{i_20}}</td>
		<td></td>
		<td>{{i_20}}</td>
		<td></td>
		<td>{{iw_20}}</td>
		<td></td>
		<td>{{iw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>TRAN</b></td>
		<td>{{t_20}}</td>
		<td></td>
		<td>{{t_20}}</td>
		<td></td>
		<td>{{tw_20}}</td>
		<td></td>
		<td>{{tw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b>REEFER</b></td>
		<td><b>REEF</b></td>
		<td>{{r_20}}</td>
		<td></td>
		<td>{{r_20}}</td>
		<td></td>
		<td>{{rw_20}}</td>
		<td></td>
		<td>{{rw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b>IMDG</b></td>
		<td><b>IMDG</b></td>
		<td>{{imdg_20}}</td>
		<td></td>
		<td>{{imdg_20}}</td>
		<td></td>
		<td>{{imdgw_20}}</td>
		<td></td>
		<td>{{imdgw_20}}</td>
	</tr>
	<tr align="center">
		<td><b>SUB: TOTAL</b></td>
		<td><b></b></td>
		<td><b></b></td>
		<td>{{FL_20}}</td>
		<td>{{m_20}}</td>
		<td>{{SUB_20}}</td>
		<td></td>
		<td>{{FLW_20}}</td>
		<td>{{mw_20}}</td>
		<td>{{SUBW_20}}</td>
	</tr>
	<tr align="center">
		<td><b>40'</b></td>
		<td><b>NORMAL</b></td>
		<td><b>FCL</b></td>
		<td>{{f_40}}</td>
		<td></td>
		<td>{{f_40}}</td>
		<td></td>
		<td>{{fw_40}}</td>
		<td></td>
		<td>{{fw_40}}</td>
	</tr>
	<tr align="center">
		<td><b>45'</b></td>
		<td><b></b></td>
		<td><b>LCL</b></td>
		<td>{{l_40}}</td>
		<td></td>
		<td>{{l_40}}</td>
		<td></td>
		<td>{{lw_40}}</td>
		<td></td>
		<td>{{lw_20}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>EMPTY</b></td>
		<td></td>
		<td>{{m_40}}</td>
		<td>{{m_40}}</td>
		<td></td>
		<td></td>
		<td>{{mw_40}}</td>
		<td>{{mw_40}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>ICD</b></td>
		<td>{{i_40}}</td>
		<td></td>
		<td>{{i_40}}</td>
		<td></td>
		<td>{{iw_40}}</td>
		<td></td>
		<td>{{iw_40}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b></b></td>
		<td><b>TRAN</b></td>
		<td>{{t_40}}</td>
		<td></td>
        <td>{{t_40}}</td>
		<td></td>
		<td>{{tw_40}}</td>
		<td></td>
		<td>{{tw_40}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b>REEFER</b></td>
		<td><b>REEF</b></td>
		<td>{{r_40}}</td>
		<td></td>
        <td>{{r_40}}</td>
		<td></td>
		<td>{{rw_40}}</td>
		<td></td>
        <td>{{rw_40}}</td>
	</tr>
	<tr align="center">
		<td><b></b></td>
		<td><b>IMDG</b></td>
		<td><b>IMDG</b></td>
		<td>{{imdg_40}}</td>
		<td></td>
        <td>{{imdg_40}}</td>
		<td></td>
		<td>{{imdgw_40}}</td>
		<td></td>
        <td>{{imdgw_40}}</td>
	</tr>
	<tr align="center">
		<td><b>SUB: TOTAL</b></td>
		<td><b></b></td>
		<td><b></b></td>
		<td>{{FL_40}}</td>
		<td>{{m_40}}</td>
		<td>{{SUB_40}}</td>
		<td></td>
		<td>{{FLW_40}}</td>
		<td>{{mw_40}}</td>
		<td>{{SUBW_40}}</td>
	</tr>
	<tr align="center">
		<td><b>TOTAL</b></td>
		<td><b></b></td>
		<td><b></b></td>
		<td>{{TF}}</td>
		<td>{{TM}}</td>
		<td>{{TT}}</td>
		<td></td>
		<td>{{TFW}}</td>
		<td>{{TMW}}</td>
		<td>{{TTW}}</td>
	</tr>
	<tr height="60px">
		<td colspan="10"><b>OTHER CARGO</b></td>
	</tr>
	<tr >
		<td colspan="10" border="0">
			<table  width="100%">
				<tr height="50px">
					<td colspan="10"><b>PROVIDED/RECEIVED BY</b></td>
				</tr>
				<tr>
					<td colspan="5"></td>
					<td colspan="5" align="center">___________________________________________________________________________________________</td>
				</tr>
				<tr>
					<td colspan="5"></td>
					<td colspan="5" align="center"><b>SIGNATURE AGENT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CPA TERMINAL MANAGEMENT</b></td>
				</tr>
			</table>
		</td>
		
	</tr>
	
	<tr>
		<td colspan="10">&nbsp;</td>
	</tr>
	
</table>

</body>
</html>